<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- General -->
    <category label="32001">
        <setting id="theme" label="32003" type="enum" default="32000" lvalues="32000" />
        <setting id="addon_debug" label="32004" type="bool" default="false" />
    </category>
</settings>
